# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Source control
.git
.gitignore

# Environment
.env
.env.*

# IDE
.idea
.vscode
*.sublime-workspace
*.sublime-project

# Build output
dist
build

# Test
coverage
.nyc_output

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Docker
Dockerfile
.dockerignore

# Documentation
README.md
CHANGELOG.md
docs

# Development configs
nodemon.json
.prettierrc
.eslintrc
.eslintignore 